# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?


This is to similute what you will face when you are out in the wild. 

Happy Coding!

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
air_bnb = pd.read_csv('AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
# How many neighborhood groups are available and which shows up the most?

nG = air_bnb.neighbourhood_group.value_counts()
print(nG)

# 5 groups | Manhattan shows up most

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [5]:
# Are private rooms the most popular in manhattan?

pR = air_bnb.groupby(['neighbourhood_group','room_type']).count().sort_values('neighbourhood_group', ascending=False)
pR

#No.. entire home/apt is.

                                        id   name  host_id  host_name  \
neighbourhood_group room_type
Staten Island       Entire home/apt    176    176      176        176
                    Private room       188    188      188        188
                    Shared room          9      9        9          9
Queens              Entire home/apt   2096   2096     2096       2096
                    Private room      3372   3372     3372       3370
                    Shared room        198    198      198        198
Manhattan           Entire home/apt  13199  13193    13199      13196
                    Private room      7982   7979     7982       7976
                    Shared room        480    480      480        480
Brooklyn            Entire home/apt   9559   9558     9559       9554
                    Private room     10132  10127    10132      10128
                    Shared room        413    413      413        413
Bronx               Entire home/apt    379    379      379        378
                    Private room       652    652      652        652
                    Shared room         60     59       60         60

                                     neighbourhood  latitude  longitude  \
neighbourhood_group room_type
Staten Island       Entire home/apt            176       176        176
                    Private room               188       188        188
                    Shared room                  9         9          9
Queens              Entire home/apt           2096      2096       2096
                    Private room              3372      3372       3372
                    Shared room                198       198        198
Manhattan           Entire home/apt          13199     13199      13199
                    Private room              7982      7982       7982
                    Shared room                480       480        480
Brooklyn            Entire home/apt           9559      9559       9559
                    Private room             10132     10132      10132
                    Shared room                413       413        413
Bronx               Entire home/apt            379       379        379
                    Private room               652       652        652
                    Shared room                 60        60         60

                                     price  minimum_nights  number_of_reviews  \
neighbourhood_group room_type
Staten Island       Entire home/apt    176             176                176
                    Private room       188             188                188
                    Shared room          9               9                  9
Queens              Entire home/apt   2096            2096               2096
                    Private room      3372            3372               3372
                    Shared room        198             198                198
Manhattan           Entire home/apt  13199           13199              13199
                    Private room      7982            7982               7982
                    Shared room        480             480                480
Brooklyn            Entire home/apt   9559            9559               9559
                    Private room     10132           10132              10132
                    Shared room        413             413                413
Bronx               Entire home/apt    379             379                379
                    Private room       652             652                652
                    Shared room         60              60                 60

                                     last_review  reviews_per_month  \
neighbourhood_group room_type
Staten Island       Entire home/apt          150                150
                    Private room             159                159
                    Shared room                5                  5
Queens              Entire home/apt         1742               1742
                    Private room            2680               2680
                    Shared room              152                152
Manhattan           Entire home/apt         9967               9967
                    Private room            6309               6309
                    Shared room              356                356
Brooklyn            Entire home/apt         8164               8164
                    Private room            7993               7993
                    Shared room              290                290
Bronx               Entire home/apt          309                309
                    Private room             524                524
                    Shared room               43                 43

                                     calculated_host_listings_count  \
neighbourhood_group room_type
Staten Island       Entire home/apt                             176
                    Private room                                188
                    Shared room                                   9
Queens              Entire home/apt                            2096
                    Private room                               3372
                    Shared room                                 198
Manhattan           Entire home/apt                           13199
                    Private room                               7982
                    Shared room                                 480
Brooklyn            Entire home/apt                            9559
                    Private room                              10132
                    Shared room                                 413
Bronx               Entire home/apt                             379
                    Private room                                652
                    Shared room                                  60

                                     availability_365
neighbourhood_group room_type
Staten Island       Entire home/apt               176
                    Private room                  188
                    Shared room                     9
Queens              Entire home/apt              2096
                    Private room                 3372
                    Shared room                   198
Manhattan           Entire home/apt             13199
                    Private room                 7982
                    Shared room                   480
Brooklyn            Entire home/apt              9559
                    Private room                10132
                    Shared room                   413
Bronx               Entire home/apt               379
                    Private room                  652
                    Shared room                    60

In [6]:
# Which hosts are the busiest and based on their reviews?

busiest = air_bnb.groupby(['host_name','reviews_per_month']).count().sort_values('reviews_per_month', ascending=False)
busiest

#Row NYC is busiest based on average reviews per month

                             id  name  host_id  neighbourhood_group  \
host_name reviews_per_month
Row NYC   58.50               1     1        1                    1
          27.95               1     1        1                    1
Louann    20.94               1     1        1                    1
Nalicia   19.75               1     1        1                    1
          17.82               1     1        1                    1
...                          ..   ...      ...                  ...
Fredah    0.01                1     1        1                    1
Rebecca   0.01                1     1        1                    1
Shahdiya  0.01                1     1        1                    1
Enid      0.01                1     1        1                    1
Jazmin    0.01                1     1        1                    1

                             neighbourhood  latitude  longitude  room_type  \
host_name reviews_per_month
Row NYC   58.50                          1         1          1          1
          27.95                          1         1          1          1
Louann    20.94                          1         1          1          1
Nalicia   19.75                          1         1          1          1
          17.82                          1         1          1          1
...                                    ...       ...        ...        ...
Fredah    0.01                           1         1          1          1
Rebecca   0.01                           1         1          1          1
Shahdiya  0.01                           1         1          1          1
Enid      0.01                           1         1          1          1
Jazmin    0.01                           1         1          1          1

                             price  minimum_nights  number_of_reviews  \
host_name reviews_per_month
Row NYC   58.50                  1               1                  1
          27.95                  1               1                  1
Louann    20.94                  1               1                  1
Nalicia   19.75                  1               1                  1
          17.82                  1               1                  1
...                            ...             ...                ...
Fredah    0.01                   1               1                  1
Rebecca   0.01                   1               1                  1
Shahdiya  0.01                   1               1                  1
Enid      0.01                   1               1                  1
Jazmin    0.01                   1               1                  1

                             last_review  calculated_host_listings_count  \
host_name reviews_per_month
Row NYC   58.50                        1                               1
          27.95                        1                               1
Louann    20.94                        1                               1
Nalicia   19.75                        1                               1
          17.82                        1                               1
...                                  ...                             ...
Fredah    0.01                         1                               1
Rebecca   0.01                         1                               1
Shahdiya  0.01                         1                               1
Enid      0.01                         1                               1
Jazmin    0.01                         1                               1

                             availability_365
host_name reviews_per_month
Row NYC   58.50                             1
          27.95                             1
Louann    20.94                             1
Nalicia   19.75                             1
          17.82                             1
...                                       ...
Fredah    0.01                              1
Rebecca   0.01                              1
Shahdiya  0.01                              1
Enid      0.01                              1
Jazmin    0.01                              1

[34888 rows x 14 columns]

In [7]:
#Which neighorhood group has the highest average price?
hAp = air_bnb.groupby(['neighbourhood_group']).mean()['price']
hAp

#Manhattan

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

In [8]:
# Which neighbor hood group has the highest total price?
hTp = air_bnb.groupby(['neighbourhood_group']).sum()['price']
hTp
# Manhattan

neighbourhood_group
Bronx              95459
Brooklyn         2500600
Manhattan        4264527
Queens            563867
Staten Island      42825
Name: price, dtype: int64

In [9]:
#Which top 5 hosts have the highest total price?
tFhTp = air_bnb.groupby(['host_name']).sum()['price'].sort_values(ascending=False)
tFhTp

host_name
Sonder (NYC)         82795
Blueground           70331
Michael              66895
David                65844
Alex                 52563
                     ...
Carolann                12
Vishanti & Jeremy       10
Salim                   10
Qiuchi                   0
Aymeric                  0
Name: price, Length: 11452, dtype: int64

In [31]:
# Who currently has no (zero) availability with a review count of 100 or more?
busies = air_bnb[air_bnb['availability_365'] < 1]
busie = busies[busies['number_of_reviews'] > 100]
busie

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artists’ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,22705516,The Quietest Block in Manhattan :),127740507,Kathleen,Manhattan,Harlem,40.83102,-73.94181,Private room,65,2,103,2019-07-07,5.89,2,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
31250,24267706,entire sunshine of the spotless mind room,21074914,Albert,Brooklyn,Bedford-Stuyvesant,40.68234,-73.91318,Private room,49,1,102,2019-07-05,6.73,3,0
32670,25719044,COZY Room for Female Guests,40119874,Stephany,Brooklyn,Prospect-Lefferts Gardens,40.66242,-73.94417,Private room,48,1,131,2019-05-31,9.97,2,0
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [32]:
# What host has the highest total of prices and where are they located?

hTpw = air_bnb.groupby(['host_name','neighbourhood']).sum()['price'].sort_values(ascending=False)
hTpw

host_name     neighbourhood
Sonder (NYC)  Financial District    57738
Red Awning    Midtown               35294
Kevin         Chelsea               20003
Jessica       Clinton Hill          15804
Henry         Upper West Side       15000
                                    ...
Mario         Hell's Kitchen           10
Luz           Highbridge               10
Salim         Upper West Side          10
Aymeric       Williamsburg              0
Qiuchi        Murray Hill               0
Name: price, Length: 28869, dtype: int64

In [45]:
# When did Danielle from Queens last receive a review?

hTp = air_bnb[air_bnb['host_name']=='Danielle']
hTc = hTp[hTp['neighbourhood']=='Brooklyn']
hTc

Empty DataFrame
Columns: [id, name, host_id, host_name, neighbourhood_group, neighbourhood, latitude, longitude, room_type, price, minimum_nights, number_of_reviews, last_review, reviews_per_month, calculated_host_listings_count, availability_365]
Index: []

## Further Questions

1. Which host has the most listings?

In [49]:
tFhTpe = air_bnb[air_bnb['calculated_host_listings_count'].sort_values(ascending=False)]
tFhTpe

KeyError: "None of [Int64Index([327, 327, 327, 327, 327, 327, 327, 327, 327, 327,\n            ...\n              1,   1,   1,   1,   1,   1,   1,   1,   1,   1],\n           dtype='int64', length=48895)] are in the [columns]"

2. How many listings have completely open availability?

3. What room_types have the highest review numbers?

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --